<div id="<%= dom_id unit %>">
  <p>
    <strong>Code:</strong>
    <%= unit.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= unit.name %>
  </p>

  <p>
    <strong>Unit type:</strong>
    <%= unit.unit_type %>
  </p>

</div>
